<div style="background: #efefef; margin-left: -10px; margin-right: -10px;">
  <div style="background: #FFF; min-width: 700px; width: 66%; margin: auto; margin-top: -20px; margin-bottom: -20px;">
    <div style="padding: 20px">
      <h1>New form submission by: {name} ({form.userID})</h1>
      <h2>Organization</h2>
      <p style="margin-bottom: 0px">Name: {org.legalName}</p>
      <p style="margin-top: 5px">Twitter: {org.twitterHandle}</p>
      <div>
        <h3>Address</h3>
        <p>
          {org.address.street}<br /> {org.address.city}<br /> {org.address.provinceState}<br /> {org.address.country}<br /> {org.address.postalCode}
        </p>
      </div>

      <h2>Contacts</h2>
      <table style="width: 100%">
        <thead style="background: #dfdfdf">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Title</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {#for contact in contacts.orEmpty}
          <tr {#if even} style="background: #efefef"{/if}>
            <td>{contact.fName} {contact.lName}</td>
            <td>{contact.email}</td>
            <td>{contact.title}</td>
            <td>{contact.type}</td>
          </tr>
          {/for}
        </tbody>
      </table>


      <h2>Working Groups</h2>
      <table style="width: 100%">
        <thead style="background: #dfdfdf">
          <tr>
            <th>Working Group</th>
            <th>Participation Level</th>
            <th>Effective Date</th>
            <th>Contact Name</th>
          </tr>
        </thead>
        <tbody>
          {#for wg in wgs.orEmpty}
          <tr {#if even} style="background: #efefef"{/if}>
            <td>{wg.workingGroupID}</td>
            <td>{wg.participationLevel}</td>
            <td>{#if wg.effectiveDate != null}{time:format(wg.effectiveDate,'d MMM uuuu')}{/if}</td>
            <td>{#if wg.contact != null}{wg.contact.fName} {wg.contact.lName}{/if}</td>
          </tr>
          {/for}
        </tbody>
      </table>
    </div>
  </div>
</div>