/* Compiled from App.less */

.eclipseFdn-membership-webform {
  /* Stepper */
}
.eclipseFdn-membership-webform .error {
  color: red;
}
.eclipseFdn-membership-webform .orange-star {
  color: #f78700;
  font-weight: bold;
  font-size: larger;
}
.eclipseFdn-membership-webform .display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eclipseFdn-membership-webform .form-control {
  border-radius: 5px;
  box-shadow: none;
  height: 36px;
}
.eclipseFdn-membership-webform label {
  font-weight: unset;
}
.eclipseFdn-membership-webform .form-border-error {
  border-color: red;
}
.eclipseFdn-membership-webform .btn {
  margin: 0 10px;
  border-radius: 5px;
}
.eclipseFdn-membership-webform .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eclipseFdn-membership-webform label#effective-date-label {
  display: none;
}
.eclipseFdn-membership-webform select.form-control {
  width: 50%;
}
.eclipseFdn-membership-webform .align-center {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.eclipseFdn-membership-webform .input-group .form-control {
  z-index: unset;
}
.eclipseFdn-membership-webform input[type=checkbox] {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  margin-top: 0;
  margin-right: 15px;
}
.eclipseFdn-membership-webform input[type=checkbox]:checked {
  background-color: orange;
}
.eclipseFdn-membership-webform .verical-center {
  display: flex;
  align-items: center;
}
.eclipseFdn-membership-webform input[type=checkbox]:focus {
  outline: none !important;
}
.eclipseFdn-membership-webform .preview-field {
  padding: 5px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  background: #fff;
  min-height: 32px;
}
.eclipseFdn-membership-webform .stepper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.eclipseFdn-membership-webform .step {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 30px;
}
.eclipseFdn-membership-webform .step-span {
  width: 50px;
  height: 50px;
  background: #f7941e;
}
.eclipseFdn-membership-webform .step-span-index {
  font-size: xx-large;
  font-weight: 600;
  padding-left: 15px;
}
.eclipseFdn-membership-webform .step-title {
  padding: 10px;
  font-weight: 600;
}
.eclipseFdn-membership-webform .step-title-container,
.eclipseFdn-membership-webform .step-title-container-active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60px;
  min-width: 100px;
  background-color: #e2e2e2;
  position: relative;
  top: 15px;
  left: 15px;
}
.eclipseFdn-membership-webform .step-title-container-active {
  background: #404040 50% no-repeat;
  color: white;
}
@media (min-width: 992px) {
  .eclipseFdn-membership-webform .step {
    width: calc(100% / 6);
    padding-top: 10px;
  }
}
